body{
    background-image: url('roll.jpg');
}
.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    text-align: center;


}
.caption h1 {
    font-size: 5rem;
    text-transform: capitalize;

}
.caption p {
    font-size: 1.55rem;
    text-transform: capitalize;
    
}
.caption a {
    text-decoration: none;
    color:white;
    border-radius: 0;
    font-size: 1.5rem;
    border: ;
    padding: 5px 20px;

}

.btn-2:hover {
    color: green;
    background: yellow;
}
.btn-1:hover{
    color: black;
    
}
.btn-3:hover{
    color: greenyellow;
    background: black
}
.btn-4:hover{
    color: white ;
    background: rgb(7, 230, 192)
}
@media (max-width:576px){
    .caption h1{
        font-size: 2rem;

    }
    .caption p{
        font-size: 1rem;
        
    }
    .caption a{
        font-size: 1rem;
        margin: 0 !important;
        margin-bottom: 10px !important;
        
    }
    .marginizq{
        margin-left: 20px;
        
    }
}

.video-header{height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;

}

.wrap{
max-width: 960px;
padding-left: 1rem;
padding-right: 1rem;
margin:auto;
text-align: center;

}
.fullscreen-video-wrap{
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
overflow: hidden;

}
.fullscreen-video-wrap video{
min-height: 100%;
min-width: 100%;

}


